@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

$main-font: 'Barlow', arial, sans-serif;
$bg-color: #ddd;

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $main-font;
  font-size: 18px;
}

.hidden {
  display: none!important;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background-color: lightgreen;
}

button:hover {
  cursor: pointer;
  background-color: darken(lightgreen, 40%);
}

.wrapper,
#weather-data,
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  width: 60%;
  background-color: rgba(221, 221, 221, 0.507);
}

/********************* Form **********************/

#get-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.radio-buttons {
  display: flex;
  
  label {
    margin-left: 15px;
  }
}

.text-inputs {
  display: flex;
  flex-direction: column;
  width: 60%;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    p {
      width: 30%;
    }
    input {
      width: 70%;
      padding: 5px;
    }
  }
}

input[type="radio"]:hover {
  cursor: pointer;
}

.units {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/********************* Form Validation **********************/

input:invalid {
  border: 2px solid red;
}

.error {
  align-self: flex-end;
  width: 70%;
  background-color: rgb(245, 86, 86);
  font-size: .8rem;

  &.active {
    padding: 5px;
  }
}

/********************* Data Response **********************/

.data-container {
  display: flex;
  justify-content: center;
  width: 50%;

  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;

  background-color: rgba(255, 250, 205, 0.507);
}

#weather-data {
  padding: 2rem;
}

.info {
  margin-bottom: 1rem;
}

#gh-link {
  margin-top: 40px;
  margin-bottom: 20px;
}

#gh-link:visited {
  color: inherit;
}

/********************* Mobile Layout **********************/

@media screen and (max-width: 768px) {
  .col,
  .text-inputs,
  .units,
  .data-container,
  button,
  label,
  input {
    width: 100%!important;
  }

  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  label {
    flex-direction: column;
  }

  input {
    margin-top: 8px;
  }

  .units {
    flex-direction: column;
    p {
      text-align: center;
      margin-bottom: 10px;
    }
    label {
      display: flex;
      flex-direction: row;
    }
  }

  .radio-buttons {
    flex-direction: row;
  }
}